@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ShopperOnline.Models.ViewModel.PageList>
<div class="header header-demo header-logo-center  position-fixed d-flex justify-content-around  ">
    <partial name="~/Views/Shared/_Navbar.cshtml" />

</div>
<div class="card card-style " style="margin-top: 5rem;">
    <!-- header and footer bar go here-->
    <div class="page-content">
        <div class="page-title page-title-small">
            <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Pages</h2>
            <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="images/avatars/5s.png"></a>
        </div>
        <div class="card header-card shape-rounded" data-card-height="150">
            <div class="card-overlay bg-highlight opacity-95"></div>
            <div class="card-overlay dark-mode-tint"></div>
            <div class="card-bg preload-img" data-src="images/pictures/20s.jpg"></div>
        </div>
        <div class="card card-style">
            <div class="content">
                Select page And See the relevant Page Products List and Add New Product
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="card card-style mb-3 pagediv">
                <p hidden class="pageid">@item.Id</p>
                <p hidden class="sysid">@item.Category</p>
                <p hidden class="accessToken">@item.AccessToken</p>
                <div class="d-flex pt-3 pb-3">
                    <div class="pt-2 mt-1 pl-4">
                        <h4 class="color-theme font-600">@item.Name</h4>
                        <p class="mt-n2 font-11 color-highlight mb-2">PageID: @item.Id SystemPageId: @item.Category</p>
                    </div>
                </div>
            </div>
        }
        <div class="ml-3 mb-3 mt-3">
            <h1>For Video Selct below page</h1>
        </div>
            @foreach (var item in Model)
            {
                <div class="card card-style mb-3 videodiv">
                    <p hidden class="pageid">@item.Id</p>
                    <p hidden class="sysid">@item.Category</p>
                    <p hidden class="accessToken">@item.AccessToken</p>
                    <div class="d-flex pt-3 pb-3">
                        <div class="pt-2 mt-1 pl-4">
                            <h4 class="color-theme font-600">@item.Name</h4>
                            <p class="mt-n2 font-11 color-highlight mb-2">PageID: @item.Id SystemPageId: @item.Category</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
<div id="footer-bar" class="footer-bar-5">
    <a asp-action="Index" asp-controller="Home" class="active-nav"><i class="fa fa-arrow-left text-primary"></i><span>Back</span></a>
    <a asp-action="Index" asp-controller="Home" class="active-nav"><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Home</span></a>
</div>

@section Scripts{
@{
    string uid="", tid="";
    foreach (var item in Model)
    {
        uid = item.userId;
        tid = item.tenantId;
    }
 }
<script>
                    $(".pagediv").click(function () {
                            var pagediv = $(this);
                            var pageid = pagediv.children(".pageid");
                            var sysid = pagediv.children(".sysid");
                            var ATK = pagediv.children(".accessToken");
                        location.href = '@Url.ActionLink("ShowProduct", "Store")?uid=' + '@uid' + '&tid=' + '@tid' + '&PageId=' + pageid.html() + '&SystemPageId=' + sysid.html() + '&accessToken=' + ATK.html();
                            console.log(pageid.html())
                    })
    $(".videodiv").click(function () {
                            var pagediv = $(this);
                            var pageid = pagediv.children(".pageid");
                            var sysid = pagediv.children(".sysid");
                            var ATK = pagediv.children(".accessToken");
                        window.location.href = '@Url.ActionLink("Cart", "Store")?uid=' + '@uid' + '&tid=' + '@tid' + '&PageId=' + pageid.html() + '&SystemPageId=' + sysid.html() + '&accessToken=' + ATK.html();
                            console.log(pageid.html())
                    })
</script>
}
