@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ShopperOnline.Models.ViewModel.ShowSellerPanelVM
<div class="header header-demo header-logo-center  position-fixed d-flex justify-content-around  ">
    <partial name="~/Views/Shared/_Navbar.cshtml" />

</div>
<div class="card card-style " style="margin-top: 5rem;">
    <!-- header and footer bar go here-->
    <div class="page-content">
        <div class="page-title page-title-small">
            <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Pages</h2>
            <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="images/avatars/5s.png"></a>
        </div>
        <div class="card header-card shape-rounded" data-card-height="150">
            <div class="card-overlay bg-highlight opacity-95"></div>
            <div class="card-overlay dark-mode-tint"></div>
            <div class="card-bg preload-img" data-src="images/pictures/20s.jpg"></div>
        </div>
        <div class="card card-style">
            <div class="content">
                Select page And See the relevant Page Products List and Add New Product
            </div>
        </div>
        <div id="hi">

        </div>
    </div>
</div>
<div id="footer-bar" class="footer-bar-5">
    <a asp-action="Index" asp-controller="Home" class="active-nav"><i class="fa fa-arrow-left text-primary"></i><span>Back</span></a>
    <a asp-action="Index" asp-controller="Home" class="active-nav"><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Home</span></a>
</div>

@section Scripts{
    <script>
        $.ajax({
            url: "https://shopalive.p.rapidapi.com/v1/Pages",
            type: "get",
            contentType: "application/json",
            headers: {
                "x-rapidapi-key": rapidApiKey,
                "B2B-TENANT-ID": '@Model.Tid',
                "B2B-USER-ID": '@Model.Uid',
                "x-rapidapi-host": rapidApiHost
            },
            success: function (res, status) {
                if (status == "success") {
                    $(document).ready(function () {
                        for (var i = 0; i < res.length; i++) {
                            $("#hi").append(`<div class="card card-style mb-3 pagediv">
                                <p hidden class="pageid">${res[i].pageId}</p>
                                <p hidden class="sysid">${res[i].id}</p>
                                <div class="d-flex pt-3 pb-3">
                                <div class="pt-2 mt-1 pl-4">
                                <h4 class="color-theme font-600">${res[i].name}</h4>
                                <p class="mt-n2 font-11 color-highlight mb-2">PageID: ${res[i].pageId} SystemPageId: ${res[i].id}</p>
                                </div>
                                </div>
                                </div>`);
                        }
                        $(".pagediv").click(function () {
                            var pagediv = $(this);
                            var pageid = pagediv.children(".pageid");
                            var sysid = pagediv.children(".sysid");
                            location.href = '@Url.ActionLink("ShowProduct", "Store")?uid=' + '@Model.Uid' + '&tid=' + '@Model.Tid' + '&PageId=' + pageid.html() + '&SystemPageId=' + sysid.html();
                            console.log(pageid.html())
                        })
                    });
                }
            },
            error: function (error) {
                console.log(error)
            }
        });

    </script>
}
